{% extends 'myhome/base.html'%}
{% block title%}
<title>确认订单</title>
{% endblock %}

{% block con %}
<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#" class="active">确认订单</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div><!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>确认订单</h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- entry-header-area-end -->
<!-- coupon-area-area-start -->
<!-- checkout-area-start -->
<div class="checkout-area mb-70">
    <div class="container">
        <div class="row">
                <input type="hidden" name="cartids" value="{{ request.GET.cartids}}">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="checkbox-form">
                        <h3>收货信息</h3>
                        <div class="panel panel-default" >
                            <div class="panel-body">
                                <table class="table">
                                    <tr style="text-align: center;">
                                        <td>选择地址</td>
                                        <td>收货人姓名</td>
                                        <td>电话</td>
                                        <td>收货地址</td>
                                        <td>是否为默认</td>
                                        <td>删除</td>
                                    </tr>
                                    {% for i in addresslist %}
                                    <tr style="text-align: center;">
                                        <td><input type="radio" name="radio"  value="{{ i.id }}"></td>
                                        <td>{{ i.username}}</td>
                                        <td>{{ i.phone }}</td>
                                        <td>{{ i.user_address|slice:"3"}}<a title="{{ i.user_address }}" style="cursor:pointer;">[更多]</a></td>
                                        <td>
                                            {% if i.isdefault == '1' %}
                                            默认
                                            {% else %}
                                            否
                                            {% endif %}
                                        </td>
                                        <td><a id="deladdress" href="jsvascript:;" >删除</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                  <!--使用模态窗口，你需要有某种触发器，如按钮和链接-->
                            </div>
                        </div>
                        <button class="btn " data-toggle="modal" data-target="#myModal" style="background: #ff2832;color: white;" >新增收货地址</button>
                    </div>
                </div>
               
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="your-order">
                        <h3>所购产品</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">商品图片</th>
                                        <th class="product-name">商品名称</th>
                                        <th class="product-total">小计</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in cartlist %}
                                    <tr class="cart_item">
                                        <td class="product-thumbnail">
                                            <a href="{% url 'myhome_bookdetail' i.bookid.id %}">
                                                <img src="/{{ i.bookid.bookimgs_set.first.img_url }}" style="width: 70px;height: 70px;"  alt="man" />
                                            </a>
                                        </td>
                                        <td class="product-name">{{ i.bookid.bookname|slice:"8" }}<strong class="product-quantity">× {{ i.num }}</strong></td>
                                        {% load pagetag %}
                                        <td class="product-total">¥<span class="amount xj">{% cheng i.bookid.price  i.num %}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th></th>
                                        <th>合计订单</th>
                                        <td><strong>¥<span class="amount total">215.00</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="order-button-payment"><input id="addorder" type="submit" value="下订单"></div>
                        </div>
                    </div>
                </div>
          
        </div>
    </div>
</div><!-- checkout-area-end -->


<div class="modal" id="myModal" tabindex="-1" style="margin-top:50px ;">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新增收货地址</h4>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-right:50px">
                                    <div class="checkout-form-list">
                                        <label>姓名 <span class="required">*</span></label>
                                        <input required name="name" type="text" placeholder="请输入收货人姓名">
                                    </div>
                                </div>
                               
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label>手机号 <span class="required">*</span></label>
                                        <input required name="phone" type="text" placeholder="请输入手机号">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label>地址<span class="required">*</span></label>
                                        <input name="address" required type="text" placeholder="请输入收货地址">
                                    </div>
                                </div>
                                <div style="text-align: center;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button id="tjdz"  type="button" class="btn" style="background: #ff2832;color: white;margin-right:20px ;">提交</button>
                                    <button class="btn" style="background:whitesmoke;color: black;border: 1px solid rgb( 220, 220, 220 );">取消</button>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
</div>
  
   



{% endblock %}
{% block js %}
<script>
    var xj=0
    $(".xj").each(function(){
         xj += Number($(this).text())
    })
    $(".total").text(xj)


    $("#tjdz").click(function(){
        $('#myModal').modal('hide');
        data={}
        data["name"]=$("input[name=name]").val()
        data["phone"]=$("input[name=phone]").val()
        reg=/^1\d{10}$/
        if(!reg.test(data["phone"])){
            alert("电话号码有错误，请输入有效的电话号码！！！")
            return;
        }
        data["address"]=$("input[name=address]").val()
        $.get("{% url 'myhome_address_add' %}",data,function(sdata){
            console.log(sdata)
                 if(!sdata["code"]){
                    window.location.reload();//刷新当前页面
                 }else{
                    alert(sdata["msg"])
                 }
        },'json')
    })

   $("#deladdress").click(function(){
       var id =$(this).parents("tr").find("input[name=radio]").val()
       $this=$(this)
       $.get('{% url "myhome_address_del" %}',{'id':id},function(data){
           if(!data["code"]){
                $this.parents("tr").remove()
           }else{
               alert(data["msg"])
           }
       },'json')
   })

 
    function  s(){
        var i=0
        $("input[type=radio]").each(function(){
            if($(this).prop('checked')){
                i=$(this).val()
            }
        })
        return i
    }

    $.ajaxSetup({
        data: {csrfmiddlewaretoken:'{{ csrf_token }}'},
    });
    
   $("#addorder").click(function(){ 
       var data={}
        res=s()
        if(!res){
            alert("请先选择收货地址")
            return;
        }else{
            data["addressid"]=res
            data["cartids"]=$("input[name=cartids]").val()
            console.log(data["addressid"])
            console.log(data["cartids"])
                $.post('{% url "myhome_order_create"%}',data,function(data){
                if(!data["code"]){
                    id=data["orderid"]
                    url="{% url 'myhome_order_pay'%}?id="+id
                    // 该方法通过指定url替换当前缓存在历史里（客户端）的项目，
                    // 因此当使用replace方法后，你不能通过前进和后退来访问已经被替换的url
                    location.replace(url)
                }else{
                    alert(data["msg"])
                }
            },'json') 
        }
   })




               
               

</script>
{% endblock %}