{% extends 'myadmin/base.html' %}
{% block title%}
<title>图书信息添加</title>
{% endblock %}
{% block con%}
<link href="/static/myadmin/assets/chajian/common.css" type="text/css" rel="stylesheet" />
<link href="/static/myadmin/assets/chajian/index.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/static/myadmin/assets/ImgUpRead/ImgUpRead.css">
<div class="row-content am-cf">
    <div class="row  am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">图书信息添加表单</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body am-fr">
                            <form class="am-form  tpl-form-border-form tpl-form-border-br" action="{% url 'myadmin_book_insert' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="am-form-group">
                                        <label for="phone" class="am-u-sm-3 am-form-label">*所属分类:</label>
                                        <div class="am-u-sm-9">
                                            <select data-am-selected="{btnSize: 'sm'}" multiple="multiple"  required style="display: none;" name="typeid">
                                                {% for i in typelist %}
                                                <option value="{{ i.id }}" {% if i.pid == 0 %}disabled{% endif %}>{{ i.sj}}{{i.catename}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="bookname" class="am-u-sm-3 am-form-label">*图书名称:</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input"   required name="bookname" id="bookname" placeholder="请输入书籍名称">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="author" class="am-u-sm-3 am-form-label">*作者:</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" required name="author" id="author" placeholder="请输入作者名称">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="publisher" class="am-u-sm-3 am-form-label">*出版社:</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" required name="publisher" id="publisher" placeholder="请输入出版社名称">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="pdate" class="am-u-sm-3 am-form-label">*出版时间:</label>
                                        <div class="am-u-sm-9">
                                            <input type="date" required class="tpl-form-input" required name="pdate" id="pdate" placeholder="请输入出版时间">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="price" class="am-u-sm-3 am-form-label">*售价:</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" class="tpl-form-input" required min="1" max="999"  step="0.01" name="price" id="price" placeholder="请输入保留小数点两位的图书售出价格">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="num" class="am-u-sm-3 am-form-label">*库存数量:</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" class="tpl-form-input" required min="1" max="999"  step="1" name="num" id="num" placeholder="请输入图书的库存">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="isbn" class="am-u-sm-3 am-form-label">*国际书号ISBN:</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" required name="isbn" id="isbn" maxlength="13" placeholder="请输入13位的国际书号ISBN">
                                        </div>
                                </div>
                                <div class="am-form-group">
                                        <label for="recommend" class="am-u-sm-3 am-form-label">推荐语:</label>
                                        <div class="am-u-sm-9">
                                            <textarea name="recommend" rows="10" id="recommend" placeholder="请输如推荐的信息"></textarea>
                                        </div>
                                </div>
                            <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">商品详情:</label>
                                    <div class="am-u-sm-9">
                                        <script id="bookdetail" name="bookdetail" type="text/plain" style="height:500px;color: #666;"></script>
                                    </div>
                                </div>
                                <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
                                <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>
                                <script type="text/javascript">
                                    var ue = UE.getEditor('bookdetail');
                                    SyntaxHighlighter.all();
                                </script>
                              
                                <div class="am-form-group">
                                        <label for="cate" class="am-u-sm-3 am-form-label">*所属类别:</label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                                <input type="radio" name="cate" value="0" checked>上架 
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="cate" value="1">热卖
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="cate" value="2">促销
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="cate" value="3">推荐
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="cate" value="4">下架
                                            </label>
                                        </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="face" class="am-u-sm-3 am-form-label">图书图片:</label>
                                    <div class="am-u-sm-9">
                                        <div  id="img-box" style="width: 800px !important;">
                                            <script src="/static/myadmin/assets/ImgUpRead/jquery.min.js"></script>
                                            <script src="/static/myadmin/assets/ImgUpRead/ImgUpRead.js"></script>
                                            <script>
                                                obj = new imgUp({'box':'img-box','filenum':3,'filename':'pics'})
                                                obj.createitem()
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class=" am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}


