{% extends 'myhome/base.html'%}
{% block title %}
<title>购物车页面</title>
<meta http-equiv="refresh">
{% endblock %}
{%block con%}
<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-menu">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#" class="active">购物车</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>购物车</h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- entry-header-area-end -->
<!-- cart-main-area-start -->
<div class="cart-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>全选<br><input class="all" name="checkbox" type="checkbox"></th>
                                    <th class="product-thumbnail">商品图片</th>
                                    <th class="product-name">商品名称</th>
                                    <th class="product-price">商品价格</th>
                                    <th class="product-quantity">数量</th>
                                    <th class="product-subtotal">小计</th>
                                    <th class="product-remove">操作</th>
                                </tr>
                            </thead>
                            <tbody id="book">
                                {% for i in userinfo.cart_set.all %}
                                <tr>
                                    <th><input cartid="{{ i.id }}"  name="checkbox" type="checkbox"></th>
                                    <td class="product-thumbnail">
                                        <a href="{% url 'myhome_bookdetail' i.bookid.id %}">
                                            <img src="/{{ i.bookid.bookimgs_set.first.img_url }}"  alt="man" />
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="#">{{ i.bookid.bookname }}</a>
                                    </td>
                                    <td class="product-price">
                                        ¥<span class="amount">{{ i.bookid.price}}</span>
                                    </td>
                                    <td class="product-quantity">
                                        <input id="num" type="number" min=1 value="{{ i.num}}">
                                        <input name="bookid" type="hidden" value="{{ i.bookid.id }}">
                                    </td>
                                    {% load pagetag %}
                                    <td class="product-subtotal">¥<span>{% cheng i.bookid.price i.num %}</span></td>
                                    <td class="product-remove">
                                        <a href="javascript:;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="buttons-cart mb-30">
                    <ul>
                        <li><a href="/">继续购物</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="cart_totals">
                    <h2>购物车总计</h2>
                    <br>
                    <table>
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>小计</th>
                                <td>¥<span class="amount">0.00</span></td>
                            </tr>

                            <tr class="order-total">
                                <th>总计</th>
                                <td>¥<strong><span class="amount">0.00</span></strong></td>
                            </tr>
                            <tr>
                               <th> &nbsp;</th>
                               <td>
                                    <div class="wc-proceed-to-checkout"><a id="addorder" href="javascript:;">去结算</a></div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div><!-- cart-main-area-end -->
{%endblock%}
{% block js%}
<script>
    // 更新购物车
    //   当商品数量发生变化时，计算小计的值
    // 也就是当数量的input的框失去焦点时，去计算小计的值
    // 如果当数量的框发生变化时，就去变化，服务器会瘫痪
    $("#num").blur(function(){
        data={}
        xj=0
        data["num"]=$(this).val()
        res=/\d+/
        console.log('qwqqwweqww')
        if(!res.test(data["num"])){
            alert("数量改变错误,请更新正确的数量");
            $(this).val(1)
            return;
        }
        data["num"]=parseInt(data["num"])
        data["bookid"]=$(this).next().val()
        price=parseFloat($(".product-price").find("span").text())
        $.get('{% url "myhome_modicart" %}',data,function(sdata){
            if(sdata["code"]){
                alert(sdata["msg"])
            }else{
                xj=parseFloat(data["num"]*price).toFixed(2)
                $(".product-subtotal").find("span").text(xj)
            }
        },'json')
    })


    // 购物车的删除
    $(".product-remove").click(function(){
        var res=confirm("是否确认删除？")
        if(res){
            bookid=$(this).parents("tr").find("input[name=bookid]").val()
            $this=$(this)
            $.get('{% url "myhome_delcart" %}',{'bookid':bookid},function(data){
                if(data["code"]){
                    alert(data["msg"])
                }else{
                    $this.parents("tr").remove()
                }
            },'json')
        }  
        })


   
    // 只有购物车的商品被选中时才能进行结算，并且右下角的小计和总计也要被计算
    // 当第一个复选框勾选时，所有商品也要被选中
    // 判断当前商品有没有被选中
    $("input[type=checkbox]").click(function(){
        if($(this).attr('class')=='all'){
            $("input[name=checkbox]").prop('checked',this.checked)
        }
        Totalprice()
    })

    function Totalprice(){
        var total=0
        var cartids=[]
        // 获取当前页面所有选中的元素的小计价格
        $("input[type=checkbox]").each(function(){
            if($(this).prop('checked')){
                var xj= Number($(this).parents("tr").find(".product-subtotal span").text())
                total+=xj
                // 获取当前元素的被选中的id
                cartid=$(this).attr('cartid')
                if (cartid){
                    cartids.push(cartid)
                }
            }
        })
        $(".cart-subtotal span").text(total)
        $(".order-total span").text(total)
        return cartids
    }
    
    $("#addorder").click(function(){
        var res=Totalprice()
        if (res.length){
            location.href="{% url 'myhome_confirm'%}?cartids="+res
        }else{
            alert("请先选择需要购买的产品")
        }
    })
    
   
</script>
{% endblock %}
