{% extends 'myadmin/base.html' %}
{% block title%}
<title>会员列表</title>
{% endblock %}
{% block con%}
<div class="row-content am-cf">
    <div class="row  am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">会员列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span><a href="{% url 'myadmin_user_add'%}" style="color: white;">新增</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="{% url 'myadmin_user_index'%}" method="POST">
                                {% csrf_token%}
                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                        <div class="am-form-group tpl-table-list-select">
                                            <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="type">
                                                <option value="all" {% ifequal type 'all' %} selected {% endifequal %}>所有类别</option>
                                                <option value="nickname"  {% ifequal type 'nickname' %} selected {% endifequal %}>昵称</option>
                                                <option value="phone"  {% ifequal type 'phone' %} selected {% endifequal %}>手机号</option>
                                                <option value="homeaddress"  {% ifequal type 'homeaddress' %} selected {% endifequal %}>居住地</option>
                                                <option value="sex"  {% ifequal type 'sex' %} selected {% endifequal %}>性别</option>
                                                <option value="usertype"  {% ifequal type 'usertype' %} selected {% endifequal %}>身份</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                            
                                            
                                            <label style="display:none;"><span></span><input type="text" name="hidden1" ></label>
                                            <input name="keywords"  value=" {% if keywords !=  None %} {{ keywords}}  {% endif %} " autocomplete="new-password"   type="text">
                                            <span class="am-input-group-btn">
                                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                            </span>
                                        </div>
                                    </div>
                            </form>

                            <div class="am-u-sm-12">
                                <table width="100%"  class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                        <tr>
                                            <th  style="text-align: center;">头像</th>
                                            <th  style="text-align: center;">昵称</th>
                                            <th  style="text-align: center;">手机号</th>
                                            <th  style="text-align: center;">居住地</th>
                                            <th  style="text-align: center;">性别</th>
                                            <th  style="text-align: center;">身份</th>
                                            <th  style="text-align: center;">注册时间</th>
                                            <th  style="text-align: center;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in userlist %}
                                        <tr class="gradeX" style="text-align: center;">
                                            <td>
                                                <img style="width: 70%;" src="{{ i.face}}"  class="tpl-table-line-img" alt="">
                                            </td>
                                            <td class="am-text-middle">
                                                {{ i.nickname|default:'hello' }}
                                            </td>
                                            <td class="am-text-middle">{{i.phone}}</td>
                                            <td class="am-text-middle">
                                                    {{ i.homeaddress|default:'未知' }}
                                            </td>
                                            <td class="am-text-middle">
                                                {% if i.sex == '0' %}
                                                    女
                                                {% elif i.sex == '1' %}
                                                   男
                                                {% else %}
                                                  未知
                                                {% endif %}
                                            </td>
                                            <td class="am-text-middle">
                                                {% if i.usertype == '0' %}
                                                    教师
                                                {% elif i.usertype == '1' %}
                                                    学生
                                                {% elif i.usertype == '2' %}
                                                    白领
                                                {% else %}
                                                     未知
                                                {% endif %}
                                            </td>
                                            <td class="am-text-middle">
                                                {{ i.createtime|date:'Y-m-d H:i:s' }}
                                            </td>
                                            <td class="am-text-middle">
                                                <div class="tpl-table-black-operation">
                                                    <a href="{% url 'myadmin_user_mod'%}?id={{i.id}}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="{% url 'myadmin_user_del' i.id %}" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                            {% load pagetag %}
                                            {% PageShow page request %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}